  <table>
  <% var i; for (i=0; i < quizes.length; i++) { %>        
    <tr>
	  <td>Tema: <%= quizes[i].tema %></td>
      <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
      <td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
      <td>
      <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
        <input type="submit" value="Borrar" 
        onclick="return confirm('¿Seguro que quieres borrar la pregunta \'<%= quizes[i].pregunta %>\'? No hay marcha atrás.')" />
      </form>
    </td>
    </tr>  
  <% } %>
  </table><p>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
  <form method="get" action="/quizes">
     <input type="text" name="search" value="texto_a_buscar" />
     <input type="submit" value="Enviar">
     </form>
