<h2>Estadísticas:</h2>
<p>Número de preguntas: <%= npreguntas %></p>
<p>Número de comentarios totales: <%= ncomments %></p>
<p>Número medio de comentarios por pregunta: <%= mediacomments %></p>
<p>Número de preguntas sin comentarios: <%= npregsin %></p>
<p>Número de preguntas con comentarios: <%= npregcon %></p>
